@font-face {
font-family: "Montserrat Regular";
  src: url('./fonts/Montserrat-Regular.woff');
}

@font-face {
font-family: "Montserrat Black";
  src: url('./fonts/Montserrat-Black.woff');
}

@font-face {
font-family: "Montserrat Medium";
  src: url('./fonts/Montserrat-Medium.woff');
}

@font-face {
font-family: "Montserrat Semi-Bold";
  src: url('./fonts/Montserrat-SemiBold.woff');
}

@font-face {
font-family: "Overpass Mono Bold";
  src: url('./fonts/OverpassMono-Bold.ttf');
}

@font-face {
font-family: "Overpass Mono Semi-Bold";
  src: url('./fonts/OverpassMono-SemiBold.ttf');
}



* {
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
margin: 0;
padding: 0;
}

.page {
  display: grid;
  width: 100vw;
  align-content: flex-start;
  background-color:#fff;

}

.page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}


.page-title {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 30px;
background-color: #fff;
height: 286px;
padding: 70px 80px 70px 80px;
align-content: flex-start;
width: 1200px;
margin-right: auto;
margin-left: auto;

}

.page-main {
  background-color: #EDEDED;
padding: 0px 0px 100px 0px;
color: #000;

}

.page-main-container {
  display: grid;
padding: 100px 100px 100px 100px;
grid-gap: 100px;
max-width: 1200px;
margin-right: auto;
margin-left: auto;
}

.page-content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
grid-gap: 150px;
position: relative;

}

.content-top-text {
display: grid;
width: 100%;

}

.content-top-text p {
  color: #D86969;
  font-family: 'Montserrat Medium';
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}


.content-section {

  display: grid;
  grid-gap: 30px;

}

.content-title {
  font-family: 'Montserrat Regular';
  color: #000;
  text-transform: uppercase;
  font-size: 34px;
  line-height: normal;
}

.content-subsections {
  display: grid;
  grid-gap: 80px;
}

.content-subsection {

}


.content-subheader {
  color: #D86969;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;

  font-family: 'Montserrat Medium';
}



.section-paragraph-container {
  display: grid;
  grid-gap: 25px;
}


.section-paragraph {

}


.section-paragraph p {
  color: #000;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}


.content-list-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  margin-top: 50px;
  grid-gap: 20px;
  max-width: 95%;
}

.content-list-row {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
}

.list-circle {
  color:#D86969;
}

.list-text {
  font-size: 18px;
  line-height: 26px;

}

.page-img {
max-width: 100%;
margin: auto;
}



#what-img {
  max-width: 80%;
}


.page-title-text {
  font-family:'Montserrat Regular';
  color: #000;
  text-transform: uppercase;
  font-size: 32px;
  line-height: normal;

}

.page-text {
  font-family: 'Montserrat Regular';
  font-size: 18px;
  line-height: 26px;
  color: #000;
}


@media screen and (max-width: 1200px){

.page-title {
  width: auto;
  height: auto;
}

}


@media screen and (max-width: 1000px){

  .page-main-container {
    padding: 80px 85px 80px 85px;
  }

  .page-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  grid-gap: 100px;
  position: relative;
  }


}


@media screen and (max-width: 800px){

  .content-top-text p {
    font-size: 18px;
    line-height: 26px;
  }

    .content-title {
      font-family: 'Montserrat Regular';
      color: #000;
      text-transform: uppercase;
      font-size: 28px;
      line-height: normal;
    }

  .page-main-container {
    padding: 60px 65px 60px 65px;
  }

  .page-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  grid-gap: 80px;
  position: relative;
  }


}

@media screen and (max-width: 600px){

.page-title {
  width: auto;
  height: auto;
  padding: 50px 50px 50px 40px;
}

.page-main-container {
  padding: 40px 45px 40px 45px;
  width: 100%;
  margin: 0;
}

#what-img {
  max-width: 100%;
}

}
